/*The random stylings of Drew*/

.bodystyle {
    background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

html {
    min-height: 100%;
}

.grey1 {
    background: rgb(96,96,96); /* Old browsers */
background: -moz-linear-gradient(top, rgba(96,96,96,1) 0%, rgba(135,135,135,1) 36%, rgba(16,16,16,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(36%,rgba(135,135,135,1)), color-stop(100%,rgba(16,16,16,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(96,96,96,1) 0%,rgba(135,135,135,1) 36%,rgba(16,16,16,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(96,96,96,1) 0%,rgba(135,135,135,1) 36%,rgba(16,16,16,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(96,96,96,1) 0%,rgba(135,135,135,1) 36%,rgba(16,16,16,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(96,96,96,1) 0%,rgba(135,135,135,1) 36%,rgba(16,16,16,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#101010',GradientType=0 ); /* IE6-9 */
}

.highcharts-container {
    /*float: left;*/
    outline:  3px solid #000000;
    /*outline-offset: 10px;*/
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 1);
-moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 1);
box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 1);
}

.shadow-t1 { font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; text-shadow: 2px 2px 2px #000000;}

.vitals {
    /*float:right;*/
    /*padding-left: 50px;*/
    color:white;
    font-size: 1.0em;
    font-weight: bold;
    /*display: inline-block;*/
    /*float: right;*/
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

.left1 {
    float:left;
}
.right1 {
    float:left;
    padding-left: 5px;
    font-weight: bold;
}

.td-r1 {
    padding-left: 10px;
}

#demographics {
    color:white;
    font-weight: bold;
}

.demo1 {
    color:white;
}

.demo2 {
    color:yellow;
}

#tranfuse,#fast {
    color: white;
}
.wrapper div {
    width: 85%;
}

#heart {
    border: 3px solid #171717;

    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;

    -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);

    padding-left: 10px; 
    
    background: #917c59; /* Old browsers */
    background: -moz-linear-gradient(top, #917c59 0%, #5a5142 50%, #4f4639 51%, #837257 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#917c59), color-stop(50%,#5a5142), color-stop(51%,#4f4639), color-stop(100%,#837257)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* IE10+ */
    background: linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#917c59', endColorstr='#837257',GradientType=0 ); /* IE6-9 */
}

#tranfuse {
    border: 3px solid #171717;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;

    -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);

    padding-left: 10px;

    background: #917c59; /* Old browsers */
    background: -moz-linear-gradient(top, #917c59 0%, #5a5142 50%, #4f4639 51%, #837257 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#917c59), color-stop(50%,#5a5142), color-stop(51%,#4f4639), color-stop(100%,#837257)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* IE10+ */
    background: linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#917c59', endColorstr='#837257',GradientType=0 );
}

.warning{
    vertical-align: -12%;
    font-size:1.5em;
    color:red;
}

.normal{
    vertical-align: -12%;
    font-size: 1.5em;
    color:yellow;
}

.vert {
    vertical-align: 0%;
}
.centered-table {
   margin-left: auto;
   margin-right: auto;
}

.rads-table {
    float:left;
}

.dk-table {
    font-weight: bold;
    background: #c1c1c1; /* Old browsers */
background: -moz-linear-gradient(top, #c1c1c1 0%, #9b9b9b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1c1c1), color-stop(100%,#9b9b9b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c1c1c1 0%,#9b9b9b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c1c1c1 0%,#9b9b9b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c1c1c1 0%,#9b9b9b 100%); /* IE10+ */
background: linear-gradient(top, #c1c1c1 0%,#9b9b9b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */
}

.dk_header {
    color: white;
    text-align: center; font-weight: bold;
    background: #8e7969; /* Old browsers */
background: -moz-linear-gradient(top, #8e7969 0%, #56442c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e7969), color-stop(100%,#56442c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8e7969 0%,#56442c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8e7969 0%,#56442c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8e7969 0%,#56442c 100%); /* IE10+ */
background: linear-gradient(top, #8e7969 0%,#56442c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e7969', endColorstr='#56442c',GradientType=0 ); /* IE6-9 */
}
.dk_header2 {
    color: white;
    text-align: center; font-weight: bold;
    background: #b1a195; /* Old browsers */
background: -moz-linear-gradient(top, #b1a195 0%, #a17f53 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1a195), color-stop(100%,#a17f53)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b1a195 0%,#a17f53 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b1a195 0%,#a17f53 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b1a195 0%,#a17f53 100%); /* IE10+ */
background: linear-gradient(top, #b1a195 0%,#a17f53 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1a195', endColorstr='#a17f53',GradientType=0 ); /* IE6-9 */
}
.row_one {
    color: white;
    background: #4f4f4f;
    text-align: center;
}

.row_two {
    color:white;
    background: #323232;
    text-align: center;
}

caption {
    color:white;
}

.tables {
    width: 100%;
    margin: 0 auto;
}

.lsi-table {
    text-align: right;

    -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);

    background: #8e7969; /* Old browsers */
background: -moz-linear-gradient(top, #8e7969 0%, #56442c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e7969), color-stop(100%,#56442c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8e7969 0%,#56442c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8e7969 0%,#56442c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8e7969 0%,#56442c 100%); /* IE10+ */
background: linear-gradient(top, #8e7969 0%,#56442c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e7969', endColorstr='#56442c',GradientType=0 ); /* IE6-9 */
}

#footer
{
     text-align: center;
     position: absolute;
     bottom: 0px;
     left: 0px;
     /*width: 20%;
     height: 18px*/
}

a:link {
    color:white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;

}

a:hover {
    color: yellow;
    text-decoration: none;
}

.button-orange {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; text-shadow: 2px 2px 2px #000000 ! important;
	font-size: 0.8em;
	font-weight: bold;
    color: #ffffff;
	padding: 10px 20px;
	background: #917c59; /* Old browsers */
    background: -moz-linear-gradient(top, #917c59 0%, #5a5142 50%, #4f4639 51%, #837257 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#917c59), color-stop(50%,#5a5142), color-stop(51%,#4f4639), color-stop(100%,#837257)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* IE10+ */
    background: linear-gradient(top, #917c59 0%,#5a5142 50%,#4f4639 51%,#837257 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#917c59', endColorstr='#837257',GradientType=0 );
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 1px solid #856350;
	 -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 1);
}