<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <!--
    Created by Artisteer v2.3.0.23326
    Base template (without user's data) checked by http://validator.w3.org : "This page is valid XHTML 1.0 Transitional"
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="cache-control" content='no-cache'>
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <title>Trauma Data Collection</title>


    <script type="text/javascript" src="/site_media/js/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="/site_media/js/highstock.js"></script>
    <script type="text/javascript" src="/site_media/js/themes/gray.js"></script>
    <script type="text/javascript" src="/site_media/js/libs/ember.js"></script>
    <script type="text/javascript" src="/site_media/js/app.js"></script>
</head>
{% load verbatim %}
<body>
    <script type="text/javascript">
    </script>

    {% verbatim %}
        <script type="text/x-handlebars">
            <div id='vitals'>

            </div>
            <div id='demographics'>

            <p>
                Mechanism: {{ view Em.TextField valueBinding="Gen.PatientController.demographics.moi" }}
                Mechanism = {{ Gen.PatientController.demographics.mechanism }}
            </p>

            <p>
                Code Level: {{ view Em.TextField valueBinding="Gen.PatientController.demographics.trauma_code" }}
                Code Level = {{ Gen.PatientController.demographics.tc }}
            </p>

            <p>
                Age: {{ view Em.TextField valueBinding="Gen.PatientController.demographics.age" }}
                Age = {{ Gen.PatientController.demographics.ageClean }}
            </p>

            <p>
                Mode of Transport: {{ view Em.Select
                    contentBinding="Gen.ModeTransportController"
                    selectionBinding="Gen.Demographics.mode_transpsort"
                    optionLabelPath="content.result"
                    optionValuePath="content.id"
                }} {{ Gen.PatientController.demographics.mode_transpsort.result }}
            </p>

            <p>
                {{#view Em.Button target="Gen.Vitals" action="sick_patient" }} Make Patient Sick {{/view}}
                Is Sick = {{ Gen.Vitals.sick}}
            </p>
            <p>
                {{#view Em.Button target="Gen.LSIController" action="transfuse_rbc" }} Transfuse RBC {{/view}}
                RBCs Transfused = {{ Gen.LSIController.rbc}}
            </p>
            <p>
                {{#view Em.Button target="Gen.LSIController" action="transfuse_ffp" }} Transfuse FFP {{/view}}
                FFPs Transfused = {{ Gen.LSIController.ffp}}
            </p>
            <p>
                {{#view Em.Button target="Gen.LSIController" action="transfuse_plt" }} Transfuse Platelet {{/view}}
                PLTs Transfused = {{ Gen.LSIController.plt}}
                Latest = {{ Gen.LSIController.latest }}
            </p>

            <p>
                {{#view Em.Button target="Gen.LSIController" action="lsi_pelvic_binder" }} Pelvic Binder {{/view}}
                Pelvic Binder = {{ Gen.LSIController.pelvic_binder}}

            </p>

            <p>
                {{#view Em.Button target="Gen.LSIController" action="lsi_needle" }} Needle Decompression {{/view}}
                Needle Decompression = {{ Gen.LSIController.needle}}
            </p>

            <p>
                {{#view Em.Button target="Gen.LSIController" action="lsi_thoracotomy" }} Thoracotomy {{/view}}
                Thoracotomy = {{ Gen.LSIController.thoracotomy}}

            </p>

            <p>
                {{#view Em.Button target="Gen.LSIController" action="lsi_cric" }} Cric {{/view}}
                Cric = {{ Gen.LSIController.cric}}

            </p>

            <p>
                {{#view Em.Button target="Gen.LSIController" action="lsi_tourniquet" }} Tourniquet{{/view}}
                Tourniquet = {{ Gen.LSIController.tourniquet }}

            </p>

            <p>
                {{#view Em.Button target="Gen.LSIController" action="lsi_intubation" }} Intubation {{/view}}
                Intubation = {{ Gen.LSIController.intubation}}

            </p>

            <p>
                {{#view Em.Button target="Gen.LSIController" action="lsi_chest_tube" }} Chest Tube {{/view}}
                Chest Tube = {{ Gen.LSIController.chest_tube}}

            </p>

            <p>
                {{#view Em.Button target="Gen.LSIController" action="lsi_cpr" }} CPR {{/view}}
                CPR = {{ Gen.LSIController.cpr}}

            </p>

            <p>
                {{#view Em.Button target="Gen.LSIController" action="lsi_cardioversion" }} Cardioversion {{/view}}
                Cardioversion = {{ Gen.LSIController.cardioversion}}

            </p>



            {{view Gen.LabAddResultsView id="new-hgb" placeholder="Add new Hgb Value" result_type="Hgb"}}
            {{view Gen.LabAddResultsView id="new-bd" placeholder="Add new bd Value" result_type="bd"}}

            {{view Gen.RadsAddResultsView id="new-cthead" placeholder="Add new CT Head" result_type="CT Head"}}
            {{view Gen.RadsAddResultsView id="new-ctcspine" placeholder="Add new CT C-Spine" result_type="CT C-Spine"}}
            {{view Gen.RadsAddResultsView id="new-ctchest" placeholder="Add new CT Chest" result_type="CT Chest"}}
            {{view Gen.RadsAddResultsView id="new-ctabd" placeholder="Add new CT Abdomen/Pelvis" result_type="CT Abd/Pelvis"}}

            {{ #each Gen.LabsController.results }}
                <table border=1>
                <caption>{{ type }}</caption>
                <tr><th>Result</th><th>Time</th></tr>
                {{ #each results }}<tr><td>{{ val }}</td><td>{{ timestamp }}</td></tr>{{ /each }}
                </table>
            {{ /each }}

            {{ #each Gen.RadsController.results }}
                <table border=1>
                <caption>{{ type }}</caption>
                <tr><th>Result</th><th>Time</th></tr>
                {{ #each results }}<tr><td>{{ val }}</td><td>{{ timestamp }}</td></tr>{{ /each }}
                </table>
            {{ /each }}

            <p>
                Fast: {{ view Em.Select
                    contentBinding="Gen.FastController"
                    selectionBinding="Gen.Fast.fast_exam"
                    optionLabelPath="content.result"
                    optionValuePath="content.id"
                }}
                Fast Exam Result: {{ Gen.Fast.fast_exam.result }}

            </p>

            </div>
        </script>
    {% endverbatim  %}
    <script type="text/javascript">
        //reset the server
        var x = new Date().getTime();

        $.getJSON('/reset/', {timestamp:x},function(data) {});


        setInterval(function() {
            var x = new Date().getTime();
            //console.log(x);
            $.getJSON('/set_vitals/', {timestamp:x},function(data) {});
        },3000);

    </script>
</body>
</html>