<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <!--
    Created by Artisteer v2.3.0.23326
    Base template (without user's data) checked by http://validator.w3.org : "This page is valid XHTML 1.0 Transitional"
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="cache-control" content='no-cache'>
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <title>Trauma Data Collection</title>

    <link rel="stylesheet" href="/site_media/css/style.css">
    <link rel="stylesheet" href="/site_media/css/style-dk.css">
    <script type="text/javascript" src="/site_media/js/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="/site_media/js/highstock.js"></script>
    <script type="text/javascript" src="/site_media/js/themes/gray.js"></script>
    <script type="text/javascript" src="/site_media/js/libs/ember.min.js"></script>
    <script type="text/javascript" src="/site_media/js/app.js"></script>
</head>
{% load verbatim %}
<body class='grey1'>
{% verbatim %}
<script type="text/x-handlebars">
      <div id='demographics' class='shadow-t1'>
                    {{ #view Gen.DemographicsView id="demographics" }}
                        <span class='demo1'>Mechanism:</span><span class="demo2"> {{ mechanism }}</span>
                        <span class='demo1'>Trauma Code:</span><span class="demo2"> {{ tc }}</span>
                        <span class='demo1'>Age:</span><span class="demo2"> {{ ageClean }}</span>
                        <span class='demo1'>Hospital LOS:</span><span class="demo2" > {{hospital_los}}</span>
                    {{/view}}
      </div>


    </script>
{% endverbatim %}

        <div style='height: 50%;'>
        <table width="100%"><tr valign="top">
        <td width="75%">
        <div id='container' style='height:50%;width:100%'></div></td>
        <script type="text/javascript">

        $(function(){
                var series_lookup = {
                    'hr' : 0,
                    'sbp' : 1
                }

                var last_timestamp = 0

                window.chart = new Highcharts.StockChart({

                    chart: {

                        renderTo: 'container',
                        defaultSeriesType: 'line',
                        marginRight: 190,
                        marginBottom: 25,

                    events : {
                        load : function () {
                            var series = this.series;

                            setInterval(function() {
                                //var x = new Date().getTime();

                                //query our server with ajax and return the vitals
                                $.getJSON('/vitals/', {timestamp:last_timestamp},function(data) {
                                    //console.log(data.length);
                                    $.each(data, function(i,d) {
                                        //console.log(d.sbp);
                                        Gen.Vitals.set('sbp',d.sbp);
                                        Gen.Vitals.set('dbp',d.dbp);
                                        Gen.Vitals.set('hr',d.hr);

                                        series[0].addPoint([d.timestamp,d.hr],true,false);
                                        series[1].addPoint([d.timestamp,d.sbp],true,false);
                                        /*
                                        $.each(d,function (key,val) {
                                           Gen.Vitals.set(key,val);

                                           var series_no = series_lookup[key];


                                           if (series_no != null) {
                                               //console.log(key,val,series_no);
                                               series[series_no].addPoint([x,val],true,false);
                                           }

                                        })*/
                                        last_timestamp = d.timestamp;
                                    });
                                });

                            },3000);
                            }
                        }
                    },
                    legend: {
                        enabled: true,
                         layout: 'vertical',
                         align: 'right',
                         verticalAlign: 'middle',
                         y:0,
                         x:0,
                         borderWidth: 0
                    },

                    title: {
                        text: 'Heart Rate/Blood Pressure'
                    },

                    rangeSelector: {
                                buttons: [{
                                    count: 1,
                                    type: 'minute',
                                    text: '1M'
                                }, {
                                    count: 5,
                                    type: 'minute',
                                    text: '5M'
                                }, {
                                    type: 'all',
                                    text: 'All'
                                }],
                                inputEnabled: false,
                                selected: 0
                    },



                    series : [{
                                id : 'hr',
                                name : 'Heart Rate',
                                data : (function() {
                                    var x = [];
                                    $.getJSON('/timestamp/',function(data){
                                        //console.log(data.timestamp);
                                        x.push([data.timestamp,0]);
                                    });
                                    //console.log(x);
                                    return x;
                                })()
                            },
                            {
                                name : 'Systolic Blood Pressure',
                                data : (function() {
                                    var x = [];
                                    $.getJSON('/timestamp/',function(data){
                                        //console.log(data.timestamp);
                                        x.push([data.timestamp,0]);
                                    });
                                    //console.log(x);
                                    return x;
                                })()
                            },
                            {
                                type: 'flags',
                                name: 'LSIs',
                                data: [],
                                onSeries: 'hr',
                                shape:'squarepin',
                                width: 16,
                                cursor:'pointer'
                            }
                    ]
                });
        });
        </script>
        {% verbatim %}
            <td align="left">
            <script type="text/x-handlebars">

                <div  class='td-r1 shadow-t1'>
                    <div id='heart'>
                {{#view Gen.VitalsView id="vitals" class="vitals"}}
                    <p>Heart Rate:<span {{ bindAttr class="hr_class" }}>{{ hr }}</span></p>
                    <p>Blood Pressure:<span {{ bindAttr class="bp_class" }}>{{ bp }}</span></p>
                {{/view}}
                    </div>



                <div id='tranfuse'>
                <span>RBC: </span><span class='demo2'> {{Gen.LSIController.rbc}}</span>
                <span>&nbsp;FFP: </span><span class='demo2'>{{ Gen.LSIController.ffp}}</span>
                <span>&nbsp;Platelets: </span><span class='demo2'>{{ Gen.LSIController.plt }}</span>

                {{#view Gen.LSIView id="lsi"}}
                    <div><table border=1 class='lsi-table centered-table'>
                    {{ #if pelvic_binderTime }}
                    <tr><td>Pelvic Binder: {{ pelvic_binderTime }}</td></tr>
                    {{ /if }}
                    {{ #if needleTime }}
                    <tr><td>Needle Decompression: {{ needleTime }}</td></tr>
                    {{ /if }}
                    {{ #if thoracotomyTime }}
                    <tr><td>Thoracotomy: {{ thoracotomyTime }}</td></tr>
                    {{ /if }}
                    {{ #if cricTime }}
                    <tr><td>Cricothyroidotomy: {{ cricTime }}</td></tr>
                    {{ /if }}
                    {{ #if tourniquetTime }}
                    <tr><td>Tourniquet: {{ tourniquetTime }}</td></tr>
                    {{ /if }}
                    {{ #if intubationTime }}
                    <tr><td>Intubation: {{ intubationTime }}</td></tr>
                    {{ /if }}
                    {{ #if chest_tubeTime }}
                    <tr><td>Chest Tube: {{ chest_tubeTime}}</td></tr>
                    {{ /if }}
                    {{ #if cardioversionTime }}
                    <tr><td>Cardioversion: {{ cardioversionTime }}</td></tr>
                    {{ /if }}

                    {{ #if cprTime}}
                    <tr><td>CPR: {{ cprTime }}</td></tr>
                    {{ /if }}
                </table></div>
                {{/view}}





                <div id='fast-c'>
                    {{#view Gen.FastView id="fast"}}
                    <span class='vert'>Fast Exam:</span><span {{ bindAttr class="fast_exam_class" }}>{{ Gen.Fast.fast_exam.result }}</span>
                    {{/view}}
                </div>
                </div>
            </div>
                <div style="clear:both; font-size:1px;"></div>
                </script>
            </td></tr></table>


        <div>
        <table class='centered-table'> <tr valign='top' cellpadding="5">
        <script type="text/x-handlebars">
            {{ #each Gen.LabsController.results }}
                <div class='shadow-t1' style="display:table-cell; vertical-align:top float: left; padding:2px;">
                <table class='dk-table' border=1>
                <caption>{{ type }}</caption>
                <tr><th class='dk_header'>Result</th><th class='dk_header2'>Time</th></tr>
                {{ #each results }}<tr class='row_one'><td>{{ val }}</td><td class='row_two'>{{ timestamp }}</td></tr>{{ /each }}
                </table>
                </div>
            {{ /each }}
            {{ #each Gen.RadsController.results }}
                <div class="shadow-t1" style="display:table-cell; vertical-align:top float: left; padding:2px;">
                <table class='dk-table' border=1>
                <caption>{{ type }}</caption>
                <tr><th class='dk_header'>Result</th><th class='dk_header2'>Time</th></tr>
                {{ #each results }}<tr><td class='row_one'>{{ val }}</td><td class='row_two'>{{ timestamp }}</td></tr>{{ /each }}
                </table>
                </div>
            {{ /each }}

        </script>
            </tr></table>

            </div>

    {% endverbatim  %}
    <script type="text/javascript">
        var x = new Date().getTime();
        $.getJSON('/timestamp/',function(data){
            Gen.PatientController.demographics.set('hospital_arrival',data.timestamp);
            
        });

        


        setInterval(function() {
            var x = new Date().getTime();
            Gen.PatientController.demographics.set('current_time',x)
        },3000);
        


        setInterval(function(){
            var x = new Date().getTime();
            var latest_lsi = Gen.LSIController.get('latest');
            var latest_lab = Gen.LabsController.get('latest');
            var latest_rads = Gen.RadsController.get('latest');
            //console.log(latest);

            //poll for Transfusions
            $.getJSON('/lsi/', {time:latest_lsi}, function(data) {
                //console.log(data);
                $.each(data, function(i,d){
                    //console.log(d);
                    Gen.LSIController.add_lsi(d.type,d.time);
                    var txt = "A unit of " + d.type + " was given at this time";
                    var opt = {
                        x: d.time,
                        title: d.type.toUpperCase(),
                        text: txt
                    };
                    
                    window.chart.series[2].addPoint(opt);
                })
            });

            //update demographics
            $.getJSON('/demographics/', function(data) {

                $.each(data, function(key,val){

                    var foo = Gen.PatientController.demographics.get(key);
                    if (val != foo) Gen.PatientController.demographics.set(key,val);
                })
            });

            $.getJSON('/labs/', {timestamp:latest_lab},function(data) {
               $.each(data, function(i,val){
                   console.log(i,val);
                   Gen.LabsController.add_results(val.type,val.timestamp,val.value)
               })
            });

            $.getJSON('/rads/', {timestamp:latest_rads},function(data) {
               $.each(data, function(i,val){
                   console.log(i,val);
                   Gen.RadsController.add_results(val.type,val.timestamp,val.value)
               })
            });

            $.getJSON('/fast/', function(data) {

                var out = {}
                $.each(data, function(key,val){

                    out[key]=val;
                })
                if (out.result != Gen.Fast.get('fast_exam').result) Gen.Fast.set('fast_exam',out);
            })


        },5000)


    </script>
<div id='footer' class='button-orange shadow-t1'><a target="_blank" href="/pdf/">Export H&P</div>
</body>
</html>